*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.info{
    background-color: white;
    
    height: 100%;
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 50px 30px;
}
.info p{
    display: flex;
    align-items: center;
    gap: 10px;

}


.info p img{
    width: 20px;
    height: 20px;
}
.bg{
    background-color: #f1f1f1d1;
    display: flex;
    width: 100%;
    height: 100vw;
    
}
 .Projects {
    display: flex;
    flex-direction: column;
    margin: 50px 20px;
    font-size: 25px;
    border-bottom: 7px solid #cdcdcb;
    width: 100%;
    height: 60px;
    gap: 70px;
    
}
.cards{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    row-gap: 30px;

}
.cards .card{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: calc(97.3%/3);
    background-color: white;
    align-items: center;
    padding-bottom: 20px;

}
.cards .card img{
    width: 100%;
    height: 350px;
    cursor: pointer;

}

.cards .card .title{
    font-size: 30px;
    width: 228px;
    cursor: pointer;

}
.cards .card p{
    width: 343px;
    cursor: pointer;

}
